{% extends 'base.html' %}
{% block content %}

    <div class="form-group">
      <form method="POST">
          {{ form.csrf_token }}
          {{form.value.label}}
          {{form.value(class="form-control")}}
          {{form.status.label}}
          {{form.status(class="form-control")}}
          {{form.unit.label}}
          {{form.unit(class="form-control")}}
          {{form.comment.label}}
          {{form.comment(class="form-control")}}
          {{form.submit(class="btn btn-primary")}}
      </form>
    </div>

{% endblock %}
