{% extends 'base.html' %}
{% block content %}
    <h2 class="mb-5 text-center">Список транзакций</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">сумма транзакции</th>
          <th scope="col">статус</th>
          <th scope="col">валюта</th>
          <th scope="col">комментарий </th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <th scope="row">{{ transaction.id }}</th>
          <td>{{ transaction.value }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.unit }}</td>
          <td>{{ transaction.comment }}</td

        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
